@import "partialColors";

.container-style {
  background-color: $bg-grey-color;
}

.sub-style {
  color: $red-color;
  font-size: 18px;
}

.insert-name-input {
  outline: 0;
  border-width: 0 0 1px;
  border-color: #ced4da;
  border-radius: 0;
  &:focus {
    outline: 0 !important;
    border-width: 0 0 1px !important;
    border-color: #6c757d !important;
    border-radius: 0;
    box-shadow: none !important;
  }
}

.send-btn{
  background-color: $btn-color;
  border-color: $btn-color;
  &:hover{
    background-color: green;
    border-color: green;
  }
  &:focus-visible{
    background-color: green;
    border-color: green;
    box-shadow: none;
  }
  &:active{
    background-color: green !important;
    border-color: green !important;
    box-shadow: none;
  }
}

hr{
  opacity: 0.1;
}

.total-count{
  font-size: 28px;
  font-weight: bold;
}
